#sponsors {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vw;
    margin: auto;
    position: relative;
}
#divider{
    align-items: center;
    justify-content: center;
    margin-bottom: 12%;
}
#heading{
    margin-bottom: 32%;
}
.sun {
    width: 15vmax;
    height: 15vmax;
    background-image: url('../../../assets/images/sun.svg');
    background-position: center;
    background-size: 150%;
    background-repeat: no-repeat;
    border-radius: 50%;
    position: relative;
}
.planet {
    width: 12vmax;
    height: 12vmax;
    background-image: url('../../../assets/images/booking.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    position: absolute;
    animation: revolve 20s linear infinite;
}
.planet-1 {
    width: 11vmax;
    height: 11vmax;
    background-image: url('../../../assets/images/nike.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    animation: revolve 20s linear infinite;
}
.planet-2 {
    width: 10vmax;
    height: 10vmax;
    background-image: url('../../../assets/images/nike.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    animation: revolve 20s linear infinite;
}
@keyframes revolve {
    from { transform: rotate(0deg) translate(22vmax) rotate(0deg); }
    to { transform: rotate(360deg) translate(22vmax) rotate(-360deg); }
}
@media (max-width: 800px) {
    #sponsors {
        height: 100vw;
    }
    #divider{
        margin-top: 12vw;
    }
    #heading{
        margin-top: 5vw;
    }
}
@media (max-width: 600px) {
    @keyframes revolve {
        from { transform: rotate(0deg) translate(18vmax) rotate(0deg); }
        to { transform: rotate(360deg) translate(18vmax) rotate(-360deg); }
    }
}
.planet:hover{
    animation-play-state: paused;
}