.sponsors {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.sun {
    width: 13vmax;
    height: 13vmax;
    background-image: url('../../../assets/images/sun.gif');
    background-position: center;
    background-size: 150%;
    background-repeat: no-repeat;
    border-radius: 50%;
    position: relative;
}
.planet {
    width: 10vmax;
    height: 10vmax;
    background-image: url('../../../assets/images/nike.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    animation: revolve 20s linear infinite;
}
.planet-1 {
    width: 9vmax;
    height: 9vmax;
    background-image: url('../../../assets/images/nike.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    animation: revolve 20s linear infinite;
}
.planet-2 {
    width: 8vmax;
    height: 8vmax;
    background-image: url('../../../assets/images/nike.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    animation: revolve 20s linear infinite;
}
@keyframes revolve {
    from { transform: rotate(0deg) translate(18vmax) rotate(0deg); }
    to { transform: rotate(360deg) translate(18vmax) rotate(-360deg); }
}